In [13]:
import pandas as pd
import numpy as np
import statistics

In [14]:
DATA=pd.DataFrame()
DATA["Cinsiyet"]= ['Male']*200+['Female']*200
DATA["Boy"]     = np.append(np.random.normal(79, 8, 200), np.random.normal(74, 5, 200))
DATA["Kilo"]    = np.append(np.random.normal(192, 8, 200), np.random.normal(164, 5, 200))
DATA["Bel Çevresi"]= np.append(np.random.normal(102, 8, 200), np.random.normal(113, 5, 200))

In [15]:
DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
Cinsiyet       400 non-null object
Boy            400 non-null float64
Kilo           400 non-null float64
Bel Çevresi    400 non-null float64
dtypes: float64(3), object(1)
memory usage: 12.6+ KB

In [16]:
DATA.head()

  Cinsiyet        Boy        Kilo  Bel Çevresi
0     Male  76.802076  200.871306    96.315416
1     Male  89.802193  184.807812    95.961941
2     Male  89.530204  198.880612   106.355793
3     Male  77.391016  190.858501   106.089081
4     Male  76.598250  187.468817   107.148289

In [17]:
DATA.Boy.mean()

76.7667238967188

In [18]:
DATA.Kilo.mean()

178.00795353407597

In [26]:
DATA.Boy.median()

76.12371844336269

In [27]:
DATA.Kilo.median()

173.58749983875268

In [29]:
DATA.Boy.mode()

0      55.443844
1      59.724624
2      61.592769
3      62.685329
4      63.551133
         ...
395    93.853264
396    94.577172
397    94.612189
398    96.345415
399    97.823586
Length: 400, dtype: float64

In [30]:
DATA.Kilo.mode()

0      149.794571
1      151.260337
2      152.353648
3      152.594416
4      152.866200
          ...
395    211.526645
396    211.571084
397    211.890500
398    214.396441
399    216.344327
Length: 400, dtype: float64

In [19]:
DATA.Boy.std()

6.839923770883973

In [20]:
DATA.Kilo.std()

15.76809753129002

In [32]:
DATA.Boy.var()

46.78455719150364

In [31]:
DATA.Kilo.var()

248.6328997562744

In [33]:
np.std(DATA['Boy'], ddof=1)/np.sqrt(len(DATA['Boy']))

0.34199618854419866

In [34]:
np.std(DATA['Kilo'], ddof=1)/np.sqrt(len(DATA['Kilo']))

0.788404876564501